/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');


/* Root Colours */

:root {
    --color-default: #175851;
    --darker: #093631;
    --white: #fff;
}

:root {
    scroll-behavior: smooth;
}

/* Body and Divs */

html,
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    border-top: 1px solid var(--color-default);
}

a {
    color: var(--color-default);
}

a:hover {
    color: var(--bs-success);
}

.delete-div,
.update-div,
.login-div {
    height: 50vh;
    position: relative;
    color: #175851;
    text-align: center;
}

.verticle-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.list-group {
    text-align: center;
    margin: 15px;
}

.errorlist {
    list-style-type: none;
}

/* Messages*/

.messages {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
}

/* Navbar */

.logo {
    max-width: 291px;
    max-height: 62px;
}

.navbar .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;

}

.navbar-brand {
    display: flex;
    justify-content: center;
}

.navbar {
    font-size: 1.5rem;
}

.navbar-custom a {
    color: var(--color-default);
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

#navbarText {
    color: var(--color-default);
    width: 75%;
}

/* Hero Section */

.hero {
    overflow-x: hidden;
    padding: 0;
    color: #fff;
    z-index: 1;
    width: 100%;
    min-height: 70vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
}

.hero .info {
    background-color: #175851;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hero-content {
    position: relative;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    display: none;
}

.hero-text {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.hero-btn {
    width: 15em;
    color: var(--color-default);
    background-color: var(--white);
    border: 1px solid white;
}

.hero-btn:hover {
    color: var(--white);
    background: var(--color-default);
}

.hero-content-image {
    display: none;
}

/* Page and Section Styles */

.section {
    padding: 80px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding: 30px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: var(--color-default);
}

.section-p,
.section-h3 {
    text-align: center;
    color: var(--color-default);
    font-size: 1.4em;
    margin: 5px;
}

/* Index Page Sections */

.wellness-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: column;
}

.card-title {
    margin: auto;
}

.card-bg img {
    width: 100%;
    height: 100%;
}

.wellness-card {
    display: flex;
}

.instructors-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(var(--bs-gutter-y) * -1);
    justify-content: center;
    flex-wrap: wrap;
}

.treatments .card-item,
.instructors .card-item {
    border: 1px solid rgba(82, 86, 94, 0.2);
    background: var(--white);
    position: relative;
    border-radius: 0;
    display: flex;
}

.card-bg {
    text-align: center;
}

.card-bg-instructors {
    text-align: center;
}

.card-bg-instructors-middle {
    display: flex;
    justify-content: center;
}

.card-bg-instructors img,
.card-bg-instructors-middle img {
    width: 100%;
    height: 100%;
}


.container {
    padding-bottom: 2em;
}

.treatments,
.benefits,
.instructors {
    padding: 35px 0;
}

.treatments .card-item .card-body,
.instructors .card-item .card-body {
    padding: 30px;
}

.treatments .card-item h3,
.instructors .card-item h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-default);
    text-align: center;
}

.treatments .card-item p,
.instructors .card-item p {
    color: var(--color-default);
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.benefits .benefits-item {
    padding: 15px;
    background: var(--color-default);
    height: 100%;
    line-height: 1.8;
    text-align: center;
}

.section-bg {
    background-color: var(--color-default);
}

.benefits .section-header h2 {
    color: var(--white);
}

.benefits .benefits-item h3 {
    color: var(--white);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    text-align: center;
}

.benefits .benefits-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.icon {
    text-align: center;
    padding-bottom: 30px;
}


/* About Page */

.about-section {
    align-items: center;
}

.card-img-top {
    max-width: 905px;
    max-height: 560px;
}

.about-img {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    margin: auto;
}

.about h2 {
    color: var(--color-default);
}

.about-text {
    margin: 1% auto;
}

.about-text p {
    padding: 1%;
    text-align: center;
    color: var(--color-default);
}

.about-links {
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
    color: var(--color-default);
}

.card-text {
    color: var(--color-default);
    font-size: 1.2rem;
    text-align: center;
}


/* Contact Page */

.contact h2 {
    color: var(--color-default);
    text-align: center;
    margin: 20px;
}

.contact .container .row {
    margin-bottom: 20px;
}

.contact .info-item {
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
}

.contact .info-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: var(--color-default);
    border-radius: 50%;
    border: 2px dotted var(--color-default);
}

.contact .info-item h3 {
    font-size: 20px;
    color: var(--color-default);
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 1em;
    margin-bottom: 0;
}

.contact-form {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 0 30px 30px 30px;
}

.contact-form label {
    color: var(--color-default);
    font-size: 1.5em;
}

.contact-form .form-group {
    padding-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--color-primary);
}

.contact-form button[type=submit] {
    background: var(--color-default);
    border: 0;
    padding: 10px 35px;
    color: var(--white);
    border-radius: 5px;
}

.contact-form button[type=submit]:hover {
    background: var(--white);
    color: var(--color-default);
    border: 1px solid #093631;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form .contact-p {
    text-align: center;
    color: var(--color-default);
    font-size: 1.4em;
}

#contact-form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.directions-text {
    margin: 1% auto;
}

.directions-text li {
    color: var(--color-default);
    text-align: center;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 10px;
}

iframe {
    width: inherit;
}


/* Appointment Booking Page */

.booking-page {
    margin-bottom: 2em;
}

.booking-page-heading {
    color: var(--color-default);
    text-align: center;
    margin: 20px;
}

.booking-page-text {
    font-size: x-large;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.booking-slots {
    display: flex;
    margin: auto;
    align-content: stretch;
    justify-content: space-evenly;
}

.booking-slots .disabled {
    pointer-events: none;
}

.booking-slots .btn {
    background-color: var(--color-default);
    display: flex;
    width: 35%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-color: var(--darker)
}

.booking-slots .btn:hover {
    color: var(--color-default);
    background-color: var(--white);
}

.booking-slots .btn:active {
    border: #093631;
}

.booking-slots .booked {
    width: 30%;
}

.appointments-none {
    text-align: center;
}

.appointments-none a {
    color: var(--color-default);
    font-size: 1.2em;
    text-decoration: underline;
}

.booked-appointments,
.user-info {
    color: #175851;
    text-align: center;
}

.appointment-list {
    border: #175851 1px solid;
    margin: 1em;
    padding: 1em;
}

.appointment-form label {
    font-size: 1.2em;
}

.appointment-details {
    font-size: 1.25em;
    text-decoration: underline;
}

.edit-p {
    text-align: center;
    color: var(--color-default);
    margin: 5px;
}

/* Account Forms */

.account-form {
    width: 100%;
    margin: 3% auto;
    border-radius: 5px;
}

.login {
    max-height: 100%;
    position: relative;
    color: #175851;
    text-align: center;
}

.login-form {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #175851;
    text-align: center;
}

.signup-form {

    width: 100%;
    border-radius: 5px;
}

#signup_form label {
    font-size: 1.25em;
}

#signup_form input {
    max-width: 20em;
    text-align: center;
}

.form-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    color: var(--color-default);
}

.profile-btns {
    background-color: #175851;
    color: #fff;
    min-width: 5em;
    margin: 2%;
}

.profile-btns:hover {
    color: #175851;
    background-color: #fff;
    border: 1px solid #093631;
    min-width: 5em;
    margin: 2%;
}

.profile-btn-signin {
    background-color: #175851;
    min-width: 10em;
    margin: 2%;
}

.delete {
    font-size: 2em;
}

.delete-p {
    font-size: 1.2rem;
}

#delete label {
    font-size: 1.25em;
}

.password_reset label {
    font-size: 1.35em;
    margin: 20px;
}

.password_reset p {
    padding: 10px;
}

/* Footer */

.footer {
    flex-shrink: 0;
    background-color: var(--color-default);
    text-align: center;
}

.footer-container {
    padding-bottom: 20px;
}

.footer .row {
    padding-top: 20px;
}

.footer a {
    color: var(--white);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer-content {
    color: #fff;
}

.footer-col {
    padding-top: 20px;
}

.footer-row {
    padding: 0;
    margin: 0;
}

.social-links {
    justify-content: center;
    font-size: 1.5em;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    padding: 10px;
}

.copyright,
.credits {
    color: var(--white);
}

.form-control {
    width: 100%;
    text-align: center;
    display: flex;
}

/* Media Queries */

/* For small devices in landscape mode */
@media (max-height: 700px), handheld and (orientation: landscape)  {
    .hero {
        min-height: 130vh;
    }

    .update-div {
        height: 130vh;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hero {
        min-height: 40em;
    }

    .hero-content {
        max-width: 100%;
    }

    .divider {
        width: 80%;
    }
    
    .delete-div,
    .update-div,
    .login-div {
        height: 100vh;
    }

    .bootstrap-datetimepicker-widget.dropdown-menu {
            position: fixed !important;
            transform: translate3d(5ch, 0.4in, 5em)!important;
        }

    .mobile-profile-btns {
        padding: 0;
    }

    .appointment-list {
        border: none;
        margin: 1em 0;
        padding: 0;

    }

    .appointment-details {
        font-size: 1em;
    }

    .list-group {
        font-size: 1em;
        margin: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .hero-container {
        background: url(https://res.cloudinary.com/disaqbbfa/image/upload/v1680803209/static/media/images/aventine-garden.a090b2c6395c.webp) fixed no-repeat center;
        background-size: cover;
    }

    .hero-btn {
        width: 15em;
        background: var(--color-default);
        color: var(--white);
        border: 1px solid white;
    }

    .hero-btn:hover {
        background: var(--white);
        color: var(--color-default);
    }
    

    .card-bg-instructors img, .card-bg-instructors-middle img {
        width: 75%;
    }

    .card-bg img {
        width: 40%;
    }
    

    .booking-slots .btn {
        background-color: var(--color-default);
        display: flex;
        flex-direction: column-reverse;
        width: 30%;
        margin: 20px;
    }

    .contact-form input {
        height: 44px;
        width: 20em;
    }

    #id_message {
        height: 150px;
        width: 20em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .navbar-brand {
        justify-content: flex-start;
    }

    .hero {
        height: 50em;
    }

    .hero-content {
        width: 100%;
    }

    .hero-text {
        width: 90%;
        margin: 5%;
    }

    .hero-content-image {
        padding: 0;
        margin: 0;
        width: 35%;
        display: flex;
        justify-content: center;
    }


    .treatments .card-item {
        min-height: 45vh;
    }

    .booking-slots {
        display: flex;
        max-width: 60%;
        margin: auto;
        align-content: space-around;
        justify-content: center;
        flex-wrap: nowrap;
    }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .hero-content {
        flex-direction: row;
    }

    .hero-text {
        width: 35%;
    }

    .hero-image {
        display: flex;
        max-width: 100%;
        border-radius: 5%;
    }

    .wellness-row {
        flex-direction: row;
        align-items: center;
    }

    .card-bg img {
        width: 100%;
    }

    .card-bg-instructors {
        text-align: left;
    }

    .card-bg-instructors-middle {
        display: flex;
        justify-content: end;
    }

}