/* body {
    background-color: #175851;
} */

/* .navbar-custom{
    background-color: #fff;
} */

.navbar {
    font-size: 1.5rem;
}

.navbar-custom a {
    color: #175851;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

#navbarText {
    color: #175851;
}

.hero {
    overflow-x: hidden;
    padding: 0;

    color: #fff;
    z-index: 1;
    width: 100%;
    min-height: 70vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
}

.hero .info {
    background-color: #175851;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-container {
    position: absolute;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url(../media/images/aventine-garden.jpg) fixed no-repeat center;
    background-size: cover;
}

.hero-content {
    position: relative;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-image {
    max-width: 100%;
}

.hero-text {
    display: flex;
    width: 30%;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

.hero-content-image {
    padding: 0;
    margin: 0;
    width: 35%;
    display: flex;
    justify-content: center;
}

.section {
    padding: 80px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding: 40px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #175851;
}

.treatments .card-item {
    border: 1px solid rgba(82, 86, 94, 0.2);
    background: #fff;
    position: relative;
    border-radius: 0;
}

.card-bg img {
    width: 100%;
}

.treatments .card-item .card-body {
    padding: 30px;
}

.treatments .card-item h4 {
    font-weight: 700;
    margin-bottom: 15px;
    color: #175851;
    text-align: center;
}

.treatments .card-item p {
    color: #175851;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}