<footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Aventine Wellness</h3>
                        <p>1 Block 1,
                            Blackrock Business Park, <br>
                            Carysfort Ave,<br>
                            Blackrock, Co. Dublin<br>

                        </p>
                        <div class="social-links d-flex mt-3">
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div><!-- End footer info column-->

                <div class="col-lg-2 col-md-3 float-right footer-links">
                    <h4>Contact Us</h4>
                    <strong>Phone:</strong> +353 123 456789<br>
                    <strong>Email:</strong> info@example.com<br>
                </div><!-- End footer links column-->

                <div class="col-lg-2 col-md-3 float-right footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div><!-- End footer links column-->

            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Victoria Traynor</span></strong>
            </div>
            <div class="credits">
                Made for Portfolio Project 4 Full-Stack Toolkit by <a href="https://github.com/VictoriaT87/">Victoria
                    Traynor</a>
            </div>
        </div>
    </div>

</footer>