{% extends "base.html" %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.day }}</a>
            <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
            
            <div>
                <a class='btn btn-secondary btn-small mt-1 mb-1' href="{% url 'appointment-edit' object.id %}">Edit</a>
                <!-- <a class='btn btn-danger btn-small mt-1 mb-1' href="{% url 'appointment-cancel' object.id %}">Cancel</a> -->
            </div>
            
        </div>
    </div>
</article>

{% endblock content %}