{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5 login">
  <div>
    <div>
      <h1>{% trans "Sign In" %}</h1>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    </div>


    <div>
      <div>
        <form class="login-form p-2" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-secondary mb-2 profile-btn-signin" type="submit">{% trans "Sign In" %}</button>

        </form>
      </div>
    </div>
  </div>
  {% endblock %}