{% extends "base.html" %}

{% load i18n %}

{% block head %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5 update-div">
  <div class="verticle-center">
    <div>
      <h1>{% trans "Are you sure you want to log out?" %}</h1>
    </div>

    <div>
      <div>
        <form class="account-form" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn profile-btns btn-secondary btn-lg">{% trans 'Sign Out' %}</button>
          <a class="btn btn-outline-secondary btn-lg" href="{% url 'home' %}">Return</a>
        </form>
      </div>
    </div>
  </div>


  {% endblock %}