{% extends "base.html" %}

{% load i18n %}

{% block head %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-3">
      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <form class="account-form-logout" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary w-25">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>


  {% endblock %}