{% extends "base.html" %}
{% load static %}

{% block content %}



<section class="about">
    <div class="container">

        <div class="section-header">
            <h2>About Aventine Gardens</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="about-img" style="width: 70%;">
            <img class="card-img-top" src="{% static 'media/images/manor-house.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Lis Na Carrig Manor House</p>
            </div>
        </div>

        <div class="about-text row gy-4">
            <p class="section-p">Set within the grounds of the beautiful Lis Na Carrig Manor House, our outdoor Wellness
                sessions are designed to get you away from the hustle and bustle of a busy world and give you time to
                relax your body, mind and soul.</p>
            <p class="section-p">All of our instructors are accredited in meditation and yoga masteries and have spent
                time in Nepal, India and Indonesia studying their arts from Guru's with over 20 years of experience.</p>
        </div>

        <div class="section-header">
            <h2>What to Expect at Your Appointment</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="about-text row gy-4">
            <p class="section-p">Each Wellness Session appointment takes 1 hour. On your first appointment with us, you
                will be assigned one of our trained facilitators to be your private Guru.</p>
            <p class="section-p">Each hour slot will combine both Yoga and Meditation - your facilitator will guide you through both.</p>
            <p class="section-p">As sessions are outdoors (under a canopy for rainy days!), we advise earing loose fitting clothing but bringing a warm top for the cooler days.</p>
            <p class="section-p">Each session costs €50 and will be paid on the day.</p>
        </div>

        <div class="section-header">
            <h2>About Meditation</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="about-text row gy-4">
            <p class="section-p">Meditation is a practice that involves focusing or clearing your mind using a
                combination of mental and
                physical techniques.</p>

            <p class="section-p">Depending on the type of meditation you choose, you can meditate to relax, reduce
                anxiety and stress, and
                more. Some people even use meditation to help them improve their health, such as using it to help adapt
                to
                the challenges of quitting tobacco products.</p>

            <p class="section-p">The practice of meditation is thousands of years old, and different forms come from
                around the world. But
                modern science has only started studying this practice in detail during the last few decades. Some of
                the
                biggest leaps in science's understanding of meditation have only been possible thanks to modern
                technology.</p>

            <p class="section-p">On the outside, someone who's meditating might not seem to be doing anything other than
                breathing or
                repeating a sound or phrase over and over. Inside their brain, however, it's an entirely different
                story.
                Modern diagnostic and imaging techniques, like electroencephalography (EEG) and functional magnetic
                resonance imaging (fMRI) scans, show that meditation can positively affect your brain and mental health.
            </p>

        </div>

        <div class="section-header">
            <h2>About Yoga</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="about-text row gy-4">
            <p class="section-p">The literal translation of the word "yoga" which is from Sanskrit (recognized as the
                original language of yoga) is "union".</p>

            <p class="section-p">And that's an apt way to describe yoga as we know it today. We define it
                as bringing together the
                mind and the body by use of the breath.</p>

            <p class="section-p">Many people have come to know the physical benefits of yoga and think of it as a
                type of workout. But yoga is way more than that. It's really an entire lifestyle; the postures are only
                one piece of
                it.</p>

            <p class="section-p">Yoga began in India and has been around for about 5,000 years.
                Originally it was taught
                one-on-one and only to men of the highest caste.
                Traditionally, yoga is a system to foster well-being on the physical, mental, emotional, and
                spiritual levels.</p>

            <p class="section-p">Yoga is now not generally thought of as a set of religious beliefs. It can be
                practiced in a completely secular
                manner, and it's practiced by people of all faith traditions, as well as people who are agnostic and
                atheist,
                according to the Yoga Alliance.</p>
        </div>

        <div class="about-links row gy-4">
            <h2>Learn More:</h2>
            <div>
                <a href="https://www.pfizer.com/health-wellness/wellness/what-is-wellness">What Is Wellness - Pfizer</a>
                <br>
                <a href="https://www.nccih.nih.gov/health/yoga-what-you-need-to-know">What Is Yoga - National Center for
                    Complementary and Integrative Health</a>
                <br>
                <a href="https://my.clevelandclinic.org/health/articles/17906-meditation">Meditation - Cleveland
                    Clinic</a>
            </div>
        </div>

    </div>

</section>

{%endblock%}