
<!-- {% extends "base.html" %}
{% block content %}

<h1 class="booking-page-heading">Please Choose a Time and Day to Book a Wellness Session</h1>
<h3 class="text-center fPersian mt-4">Time:</h3>
<div>
    <select class="form-select fs-3 text-center" name="time">
        {% for time in times %}
                <option value="{{time}}">{{time}}</option>
                {% endfor %}
    </select>
    <select class="form-select fs-3 text-center" name="time">
        {% for day in days %}
                <option value="{{day}}">{{day}}</option>
                {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Confirm</button>
</div>
{% endblock content %} -->