{% extends "base.html" %}
{% block content %}

<h1 class="booking-page-heading">Please Choose a Time and Day to Book a Wellness Session</h1>

{% for day in days %}
<article>
    <div class="booking-page">
        
        <div class="booking-page-text">
            <p>{{ day.start }}</p>
        </div>
        <div class="booking-slots d-flex align-content-center flex-wrap">
            {% if not day.slot1_booked %}
            <a class='btn btn-success btn-lg btn-block' href="{% url 'appointment-create-spec' day.date '9 AM' %}">09:00 -
                10:00</a>
            {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
            {% endif %}

            {% if not day.slot2_booked %}
            <a class='btn btn-success btn-lg btn-block' href="{% url 'appointment-create-spec' day.date '11 AM' %}">11:00 -
                12:00</a>
            {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
            {% endif %}

            {% if not day.slot3_booked %}
            <a class='btn btn-success btn-lg btn-block' href="{% url 'appointment-create-spec' day.date '1 PM' %}">13:00 -
                14:00</a>
            {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
            {% endif %}

            {% if not day.slot4_booked %}
            <a class='btn btn-success btn-lg btn-block' href="{% url 'appointment-create-spec' day.date '3 PM' %}">15:00 -
                16:00</a>
            {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
            {% endif %}

           
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}


