{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'includes/messages.html' %}


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact m-3">
    <div class="container">
        <h2>Contact Us:</h2>
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-map"></i>
                    <h3>Our Address</h3>
                    <p>Brighten Roads, Kerrymount,
                        Foxrock,
                        Co. Dublin</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@aventinegardens.ie</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4 col-md-6">
                <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-phone"></i>
                    <h3>Call Us</h3>
                    <p>+353 123 456789</p>
                </div>
            </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1 contact-form">
            <form method="POST" action="{% url 'contact' %}" id="contact-form">
                <h2>To send us a message, please fill in the form.</h2>
                    {% csrf_token %}
                    {{form.as_p}}
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
        </div><!-- End Contact Form -->

    </div>

    </div>
</section><!-- End Contact Section -->



<div class="section-header">
    <h2>How to Find Us:</h2>
</div>
<div class="directions-text row gy-4">
    <ul>
        <li>Follow M11 and M50 to Glenamuck Rd N in Dublin. Take exit 15 from M50
            5 min (7.6 km)</li>
        <li>Continue onto M11 (signs for Dublin)
            3.3 km</li>
        <li>Keep right at the fork to continue on M50, follow signs for Northbound/Dublin Airport/Dublin
            Port
            3.6 km</li>
        <li>At junction 15, exit toward Cornelscourt/Kilternan
            650 m</li>
        <li>Continue on Glenamuck Rd N. Take Brighton Rd to Tresilian</li>
    </ul>
</div>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5676.010710384866!2d-6.184891798442491!3d53.263224314138064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486709c51d3f12e5%3A0xc9c88bb958a0dffe!2sAventine%20Gardens!5e0!3m2!1sen!2sie!4v1679931765586!5m2!1sen!2sie"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{%endblock%}