{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--if 24hrs before nobat-->

<h1 class="text-center  mt-3">Edit Appointment</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <form method="POST" action="{% url 'user-profile' %}" class="me-2 ms-2" required>
        {% csrf_token %}

        
        
            <!--input day-->
            <div class="mt-3">
                <h3 class="">Select Day:</h3>
                <select class="form-select fs-3" name="day">
                    {% for appointment in appointments %}
                    <option value="{{appointment.day}}">{{appointment.day}} {{ appointment.date }}</option>
                    {% endfor %}
                </select>
            </div>
            <!--input time-->
            <div>
                <h3 class="">Select Time:</h3>
                <select class="form-select fs-3" name="service">
                    {% for appointment in appointments %}

    
                    <option value="Doctor care">{{appointment.timeblock_foo}}</option>
                    
                    
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary text-white">Continue</button>
        </div>
    </form>
</div>

{%endblock%}