{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <div class="container-fluid">
    <h1>hello world</h1>
    <a href="{% url 'appointment' %}">appointment</a>
</div> -->

<section id="hero" class="hero">

    <div class="info d-flex align-items-center">
        <div class="hero-container">
            <div class="row justify-content-center hero-content">
                <div class="col-lg-6 hero-text">
                    <h2>Nourish your spirit, mind and body</h2>
                    <p>A countryside wellness retreat. Open Monday to Saturday for workshops and classes.
                        We offer yoga, meditation, massage, acupuncture, facials, hypnotherapy, personal coaching,
                        readings and more.</p>
                    <!-- <a href="#">View Classes</a> -->
                </div>
                <div class="col-lg-6 hero-content-image">
                    <img class="hero-image" src="{% static 'media/images/hero-image.png' %}"
                        alt="Collage image of wellness retreat and woman doing yoga">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treatments">
    <div class="container">

        <div class="section-header">
            <h2>Wellness Treatments</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg">
                                <img src="{% static 'media/images/meditation.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Meditation</h4>
                                <p>Come and join a group meditation, set in the beautiful Aventine House Gardens.</p>
                                <p>Our sessions are guided by a trained meditation facilitator, guaranteed to relieve
                                    you of the stresses of daily life.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card-item">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="card-bg">
                                <img src="{% static 'media/images/yoga.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h4 class="card-title">Yoga</h4>
                                <p>Our yoga sessions offer you simple methods to cultivate peace, joy and wellbeing.</p>
                                <p>Whether you are seeking to eliminate anxiety, improve productivity, or regain a lost
                                    sense of vibrancy, there are a variety of sessions for you to dive into.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="benefits" class="benefits section-bg">
    <div class="container">

        <div class="section-header">
            <h2>Benefits</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6">
                <div class="benefits-item  position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{% static 'media/images/buddha.png' %}" alt="small buddha art">
                    </div>
                    <h3>Bring Balance to Your Mind and Body</h3>
                </div>
            </div><!-- End benefits Item -->

            <div class="col-lg-4 col-md-6">
                <div class="benefits-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{% static 'media/images/lotus.png' %}" alt="small lotus art">
                    </div>
                    <h3>Live With Renewed Peace and Joy</h3>
                </div><!-- End benefits Item -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="benefits-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{% static 'media/images/hands.png' %}"
                            alt="small heart and hands art">
                    </div>
                    <h3>Eliminate Stress and Tension</h3>
                </div>
            </div><!-- End benefits Item -->
        </div>

    </div>
</section><!-- End benefits Section -->

{%endblock%}