{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'includes/messages.html' %}

<section id="hero" class="hero">

    <div class="info d-flex align-items-center">
        <div class="hero-container col-xl-6">
            <div class="row justify-content-center hero-content">
                <div class="col-lg-6 hero-text">
                    <h2>Nourish your Body, Mind and Soul</h2>
                    <p>A countryside wellness retreat. Open 7 days a week for 1 on 1 private sessions.</p>
                    <p>Come and join us for a relaxing meditation session outdoors, in beautiful garden surroundings.
                    </p>
                    {% if user.is_authenticated %}
                    <a class='btn btn-lg btn-block hero-btn' href="{% url 'appointment' %}">Book a session now!</a>
                    {% else %}
                    <a class='btn btn-lg btn-block hero-btn' href="{% url 'account_signup' %}">Register to book a
                        session!</a>
                    {% endif %}
                </div>
                <div class="col-lg-6 hero-content-image">
                    <img class="hero-image" src="{% static 'media/images/hero-image.webp' %}"
                        alt="Collage image of wellness retreat and woman doing yoga">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="treatments">
    <div class="container">

        <div class="section-header">
            <h2>Wellness Sessions</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="row gy-4 wellness-card">
            <p class="section-p">Each Wellness session lasts 1 hour and combines both Meditation and Yoga.</p>
            <p class="section-p">All sessions are 1 on 1 in a private setting, allowing for maximum relaxation.</p>
            <p class="section-p">Our sessions are guided by a trained meditation facilitator.</p>

            <div class="col-xl-6">
                <div class="card-item">
                    <div class="wellness-row">
                        <div class="col-xl-6">
                            <div class="card-bg">
                                <img src="{% static 'media/images/meditation.webp' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body">
                                <h3 class="card-title">Meditation</h3>
                                <p>Meditation can produce a deep state of relaxation and a tranquil mind. During
                                    meditation, you focus
                                    your attention and eliminate the stream of jumbled thoughts that may be crowding
                                    your mind and causing stress.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card-item">
                    <div class="wellness-row">
                        <div class="col-xl-6">
                            <div class="card-bg">
                                <img src="{% static 'media/images/yoga.webp' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body">
                                <h3 class="card-title">Yoga</h3>
                                <p>Yoga is an ancient system of physical, mental and spiritual practices that include
                                    breathing techniques, postures, relaxation, chanting, and
                                    other meditation methods.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="benefits" class="benefits section-bg">
    <div class="container">

        <div class="section-header">
            <h2>Benefits of Wellness Sessions</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga-white.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="benefits-item  position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{% static 'media/images/buddha-white.webp' %}"
                            alt="small buddha art">
                    </div>
                    <h3>Bring Balance to Your Mind and Body</h3>
                </div>
            </div><!-- End benefits Item -->

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="benefits-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{% static 'media/images/lotus-white.webp' %}" alt="small lotus art">
                    </div>
                    <h3>Live With Renewed Peace and Joy</h3>
                </div><!-- End benefits Item -->
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="benefits-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{% static 'media/images/hands-white.webp' %}"
                            alt="small heart and hands art">
                    </div>
                    <h3>Eliminate Stress and Tension</h3>
                </div>
            </div><!-- End benefits Item -->
        </div>

    </div>
</section><!-- End benefits Section -->


<section class="instructors">
    <div class="container">

        <div class="section-header">
            <h2>Meet The Instructors</h2>
            <img class="divider" src="{% static 'media/images/divider-yoga.svg' %}"
                alt="floral section divider graphic">
        </div>

        <div class="row gy-4">
            <p class="section-p">Meet our Wonderful Instructors!</p>
            <p class="section-p">Learn a little about their journies to becoming Yoga Instructors for Aventine.</p>

            <div class="col-lg-12">
                <div class="card-item">
                    <div class="instructors-row">
                        <div class="col-xl-5 col-lg-8 col-md-8">
                            <div class="card-bg-instructors">
                                <img src="{% static 'media/images/karolina.webp' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h3 class="card-title">Karolina</h3>
                                <p>Karolina has been teaching in Ireland and abroad for the past 7 years. </p>
                                <p>She is certified in Pranayama, Mindfulness and Buddhist Meditation and often
                                    incorporates elements of these practices in her classes as a
                                    complement to the asana practice.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-item">
                    <div class="instructors-row flex-row-reverse">
                        <div class="col-xl-5 col-lg-8 col-md-8">
                            <div class="card-bg-instructors-middle">
                                <img src="{% static 'media/images/vickie.webp' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h3 class="card-title">Vickie</h3>
                                <p>Vickie has been a yoga and wellness enthusiast for over 10 years.</p>
                                <p>Her methods of teaching are considered patient, fun, energetic and nurturing with
                                    focus on breath and slow flow movements. She teaches many styles including Hatha,
                                    Yin, Restorative, and Vinyasa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card-item">
                    <div class="instructors-row">
                        <div class="col-xl-5 col-lg-8 col-md-8">
                            <div class="card-bg-instructors">
                                <img src="{% static 'media/images/sarah.webp' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 d-flex align-items-center">
                            <div class="card-body">
                                <h3 class="card-title">Sarah</h3>
                                <p>Sarah found Yoga, Meditation and Ayurveda when she experienced anxiety and
                                    depression. It has been invaluable to her ever since to help deal with everyday
                                    stress and the challenges of life.
                                </p>
                                <p> With Sarah, you will explore the Philosophy of Yoga. It's this Philosophy that aided
                                    her recovery with mental
                                    health issues. There are elements of mindfulness & meditation at the beginning and
                                    the end.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{%endblock%}