{% extends "base.html" %}
{% load static %}
{% block content %}

{% include '../includes/messages.html' %}


{% if user.is_authenticated %}
<h1 class="booked-appointments mt-3 ">My Profile</h1>

<div class="shadow p-4 rounded m-5">
    <h2 class="user-info">User Information:</h2>
    <ul class="list-group fs-4 mt-3">
        <li class="list-group mt-2">Username: {{ user.username }}</li>
        <li class="list-group mt-2">First Name: {{ user.first_name }}</li>
        <li class="list-group mt-2">Last Name: {{ user.last_name }}</li>
    </ul>
    <div class="profile-btn-group d-flex justify-content-center">
        <a class='profile-btns btn btn-secondary btn-lg mt-1 mb-1' href="{% url 'user-update' user.pk %}">Update
            Account</a>
        <a class='profile-btns btn btn-secondary btn-lg mt-1 mb-1' href="{% url 'user-delete' user.pk %}">Delete
            Account</a>
    </div>
</div>

<!-- Booked Appointment Times -->
{% if appointments.count > 0 %}
<div class="mt-5 ">

    <div class="shadow p-4 rounded m-5">
        <h2 class="booked-appointments">My Booked Appointments:</h2>
        <div class="list-group fs-4 border p-3 mb-3">
            {% for appointment in appointments %}
            <div class="appointment-list">
                <p class="appointment-details">Appointment Details:</p>
                <p class="list-group mt-2">Date: {{ appointment.date }}</p>
                <p class="list-group mt-2">Time: {{ appointment.timeblock }}</p>

                <div>
                    <a class='profile-btns btn btn-secondary btn-small mt-1 mb-1'
                        href="{% url 'appointment-edit' appointment.id %}">Edit Appointment</a>
                    <a class='profile-btns btn btn-secondary btn-small mt-1 mb-1'
                        href="{% url 'appointment-delete' appointment.id %}">Delete Appointment</a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% elif appointments.count == 0 %}

        <div class="appointments-none rounded shadow p-4 m-5">
            <h1 class="p-2 ms-3">You don't have any saved appointments!</h1>
            <a class="nav-link" href="{% url 'appointment' %}">Click here to book one.</a>
        </div>
    </div>
    {% endif %}

    {% endif %}

    {%endblock%}